ul {
  padding-left: 40px;
  overflow: hidden;
  list-style: none;
}

ul li {
  position: relative;
}

ul li .date {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

ul li .info {
  margin-bottom: 20px;
}

ul li:last-child .info {
  margin-bottom: 0;
}

ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #711c91;
}

ul li:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -21px;
  width: 2px;
  height: 115px;
  background: #711c91;
}
